@model IEnumerable<Library.ViewModels.AuthorsModel>
@{
    ViewBag.Title = "Авторы";
}
<a asp-action="AddAuthor">Добавить автора</a>
<table class="table">
    <tr><td>Авторы</td></tr>
    @foreach (var author in Model)
    {

        <tr>
            <td>@author.FirstName @author.LastName</td>
            <td>
                <a asp-action="AuthorDetails" asp-controller="Author" asp-route-id="@author.AuthorId">Список произведений</a> |
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@author.AuthorId">Изменить</a> |
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@author.AuthorId">Удалить</a>
            </td>
        </tr>
    }
</table>