@model IEnumerable<Library.ViewModels.BookViewModel>
@{
    ViewBag.Title = "Библиотека";
}
<a asp-action="Create">Добавить книгу</a>
<a asp-action="AuthorIndex" asp-controller="Author">Список авторов</a>
<table class="table">
    <tr><td>Название</td><td>Автор</td></tr>
    @foreach (var book in Model)
    { 

            <tr>
                <td>@book.Name</td>
                <td>@book.AuthorName</td>
                <td>
                    <a asp-action="Details" asp-controller="Home" asp-route-id="@book.IdBook">Подробнее</a> |
                    <a asp-action="Edit" asp-controller="Home" asp-route-id="@book.IdBook">Изменить</a> |
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@book.IdBook">Удалить</a>
                </td>
            </tr>
    }
</table>